{% load static %}
{% load pet_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'css/pet/styles.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="header">
<ul class="top">
    {% for t in top %}
    <li   class="heder">
        <a href="{% url t.url_name %}">{{ t.title }}</a>
    </li>
    {% endfor %}
</ul>
</div>

<td>
    <ul>
        {% if elem_selected == 0 %}
        <li>Все категории</li>
        {% else %}
        <li><a href="{% url 'guests' %}">Все категории</a></li>
        {% endif %}
        {% see_elements elem_selected %}
    </ul>
</td>


{% block content %}
{% endblock %}


</body>
</html>





















<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, intial-scale=1.0">-->
<!--    <title>{{ title }}</title>-->
<!--</head>-->
<!--<body>-->
<!--<ul>-->
<!--    {% for k in kart %}-->
<!--        <li>-->
<!--            <a href="{% url k.name_ur %}">{{ k.title }}</a>-->
<!--        </li>-->
<!--    {% endfor %}-->
<!--</ul>-->

<!--</body>-->
<!--</html>-->