{% extends 'base.html '%}
{% load pet_tags %}
{% block content %}

<nav>
    {% if elem_selected == 0 or elem_selected is None %}
    <li>Все элементы</li>
    {% else %}
    <li><a href="{% url 'guests' %}">Все элементы</a></li>
    {% endif %}
    {% see_elements elem_selected %}
</nav>

<h1>{{ title }}</h1>
<ul>
    {% for pos in posts %}
    {% if pos.is_pablik %}
    <li>
        <h2>{{ pos.name }}</h2>
        {% autoescape off %}
        <p>{{ pos.description|linebreaks|truncatewords:20 }}</p>
        {% endautoescape %}
        <p>{{ pos.age }}</p>
        <p><a href="{{ pos.get_absolute_url }}">Смотреть полностью</a></p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% endblock %}