{% extends "base.html" %}

{% block content %}
<ul>
        {% for mat in material %}
            <li>
                <p>Тип: {{ mat.typepost.name }}</p>
                <p>Дата: {{ mat.time_update|date:"d-m-Y H:i:s" }}</p>
                {% if mat.photo %}
                    <p><img src="{{ mat.photo.url }}"></p>
                {% endif %}
                <p>{{ mat.title }}</p>
                {% autoescape off %}
                <p>{{ mat.content|linebreaks|truncatewords:20 }}</p>
                {% endautoescape %}
                <p><a href="{{ mat.get_absolute_url }}">Подробнее</a></p>
            </li>
        {% endfor %}
</ul>
{% endblock %}
