{% extends 'pet/base.html'%}
{% load static %}
{% block content %}



<h1>{{ title }}</h1>
<ul>
    {% for pos in posts %}
    <li>
        {% if pos.photo %}
        <p><img src="{{ pos.photo.url }}" width="100"></p>
        {% endif %}
        <h1>{{ pos.title }}</h1>
        {% autoescape off %}
        <p>{{ pos.content|linebreaks|truncatechars:20 }}</p>
        {% endautoescape %}
        <p>Категория: {{ pos.elem.name }}</p>
        <p>Дата публикации: {{ pos.time_create|date:'d-m-Y' }}</p>
        <p><a href="{{ pos.get_absolute_url }}">Смотреть полностью</a></p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% endblock %}