{% extends 'base.html'%}
{% load static %}
{% block content %}

{% with post.tags.all as tags %}
{% if tags %}
<ul>
    <li>Теги:</li>
    {% for tag in tags %}
    <li><a href="{{ tag.get_absolute_url }}">{{ tag.tag }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<h1>{{ title }}</h1>
<ul>
    {% for pos in posts %}
    <li>
        {% if pos.photo %}
        <p><img src="{{ pos.photo.url }}" width="100"></p>
        {% endif %}
        <h1>{{ pos.title }}</h1>
        {% autoescape off %}
        <p>{{ pos.content|linebreaks|truncatewords:20 }}</p>
        {% endautoescape %}
        <p>Категория: {{ pos.elem.name }}</p>
        <p>Дата: {{ pos.time_create|date:'d-m-Y' }}</p>
        <p><a href="{{ pos.get_absolute_url }}">Смотреть полностью</a></p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% endblock %}