{% load static %}
{% load pet_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'pet/css/styles.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
</head>
<body>
<div class="header">
<ul class="top">
    {% for t in top %}
    <li>
        {% if t.title != 'Мои питомцы' %}
        <a href="{% url t.url_name %}">{{ t.title }}</a>
        {% else %}
        <a href="{% url 'guests' %}">Контент</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
</div>


<h1>{{ title }}</h1>
<ul>
    {% for pet in mypets %}
    <li>
        {% if pet.photo %}
        <p><img src="{{ pet.photo.url }}" width="100"></p>
        {% endif %}
        <p>Имя: {{ pet.name }}</p>
        <p>Вид животного - {{ pet.animal }}</p>

        {% if pet.bread %}
        <p>Порода - {{ pet.bread }}</p>
        {% endif %}
        <p>Дата рождения: {{ pet.happy_birth|date:'d-m-Y' }}</p>

        <p>Характер: {{ pet.character }}</p>

        <p>Умеет: {{ pet.can }}</p>
        <p>Любимая еда - {{ pet.delicacy }}</p>
        <p>Очень не любит {{ pet.foo }}</p>
        <p>Любит {{ pet.favorite }}</p>

        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endfor %}
</ul>


</body>
</html>


